
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/UupdateStile.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div class="row" >

  <h2 class="titleIndex1" style="text-align:center;margin-bottom:15px;margin-top:30px;color:darkgrey">@Localizer["TitleR"]</h2> 

    <div class="col-md-3" >
            <h1 style="text-align:center;"><i class="material-icons" style="font-size: 200%">transform</i></h1>
            <h2 style="text-align:center">@Localizer["TileT1"]</h2>
            <ul>
                <li>@Localizer["Tile1_1"]</li>
                <li> @Localizer["Tile1_2"]</li>
                <li>@Localizer["Tile1_3"]</li>
                <li>@Localizer["Tile1_4"]</li>
            </ul>
        </div>
    <div class="col-md-3" >
            <h1 style="text-align:center"> <i class="material-icons" style="font-size: 200%">donut_small</i></h1>
            <h2 style="text-align:center">  @Localizer["TileT2"]</h2>
            <ul>           
                <li>@Localizer["Tile2_1"]</li>
                <li>@Localizer["Tile2_2"]</li>
                <li>@Localizer["Tile2_3"]</li>
                <li>@Localizer["Tile2_4"]</li>
            </ul>
    </div>
    <div class="col-md-3" >
        <h1 style="text-align:center"><i class="material-icons" style="font-size: 200%">important_devices</i></h1>
        <h2 style="text-align:center">@Localizer["TileT3"]</h2>
        <ul>
            <li>@Localizer["Tile3_1"]</li>
            <li>@Localizer["Tile3_2"]</li>
            <li>@Localizer["Tile3_3"]</li>
        </ul>
    </div>
    <div class="col-md-3" >
        <h1 style="text-align:center"><i class="material-icons" style="font-size: 200%">bubble_chart</i></h1>
        <h2 style="text-align:center">@Localizer["TileT4"]</h2>
        <ul>
            <li>@Localizer["Tile4_1"]</li>
            <li>@Localizer["Tile4_2"]</li>
            <li>@Localizer["Tile4_3"]</li>
          
        </ul>
    </div>
</div>
